extends ./layout/index 

block contenido
    main.container.mt-5
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="nosotros", class='img-fluid')
            .col-md-7 
                h1= pagina
                blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Vivamus hendrerit tincidunt lacus, eget tempus nibh fermentum scelerisque. Sed sit amet feugiat leo, sed finibus nibh. Morbi maximus, est a volutpat tristique, tortor tellus pulvinar .

                p laoreet pulvinar purus non accumsan. Ut cursus tempor ex, eget laoreet risus ultrices id. Duis vitae risus vitae tortor congue imperdiet consequat in est. Ut nisl turpis, malesuada et hendrerit eu, rutrum nec neque. Etiam fringilla, tellus non scelerisque ultrices, turpis lorem suscipit dolor, at tincidunt magna sem at erat. Suspendisse nec velit at orci pretium ci.

                p ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam tristique risus at sem sodales fringilla sit amet in sapien. Praesent magna magna, consequat lobortis cursus ut, gravida vel mauris. Ut libero eros, consequat vel elit 

    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class='img-fluid mb-4')            
                    h2.mb-4 Seguridad
                    p Etiam fringilla, tellus non scelerisque ultrices, turpis lorem suscipit dolor, at tincidunt magna sem at erat. Suspendisse nec velit at orci pretium c

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class='img-fluid mb-4')            
                    h2.mb-4 Mejores Destinos
                    p Etiam fringilla, tellus non scelerisque ultrices, turpis lorem suscipit dolor, at tincidunt magna sem at erat. Suspendisse nec velit at orci pretium c

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono seguridad", class='img-fluid mb-4')            
                    h2.mb-4 Los Mejores Precios
                    p Etiam fringilla, tellus non scelerisque ultrices, turpis lorem suscipit dolor, at tincidunt magna sem at erat. Suspendisse nec velit at orci pretium c